{{> header}}

<div class="container-fluid" id="mainBody">

<form method="GET" action="" class="form-inline" id="mainSearchForm">
  <!-- <div class="form-group"> -->
    <!-- <label for="mainSearchInput">Search term</label> -->
    <input id="mainSearchInput" name="query" type="text" value="{{query}}" placeholder="Search" />

    <button id="mainSearchSubmit" type="submit" class="btn btn-default">
      <span class="fa fa-search"></span>
    </button>
  <!-- </div> -->

</form>

<p>
  <strong>Showing {{resultsDisplayed}} low visibility results out of {{resultsTotal}} total</strong>
    {{#if query}} for term "{{query}}"{{/if}}
    {{#if category}} in <i>{{category.name}}</i>{{else}} across categories{{/if}}.

</p>
<br />

{{#each results}}
<div class="row result-item">
  <div class="col-xs-8 col-sm-10">
    <p class="category">{{this.category_display}}</p>

    <h3><a href="{{this.url}}" target="_blank">{{this.title}} <span class="fa fa-external-link"></span></a></h3>

    <p>{{this.authors}}</p>

    <!-- <blockquote>{{this.abstract}}</blockquote> -->

    <p>DOI: <a href="https://doi.org/{{this.doi}}" target="_blank">https://doi.org/{{this.doi}} <span class="fa fa-external-link"></span></a></p>
  </div>

  <div class="col-xs-4 col-sm-2">
    <span class="shadowIndexIndicator label pull-right
    {{#if this.ui_class}}{{this.ui_class}}{{else}}label-default{{/if}}"
    title="Shadow Index: {{this.shadow_index}}">
      {{this.shadow_index}}
      <span class="legend">
        Shadow Index
        <span class="fa fa-question-circle" data-toggle="tooltip" title="High Shadow Index indicates low visibility of a preprint in its category (in the last 3 months)."></span>
      </span>
    </span>

    <div class="clearfix"></div>

    <a class="pull-right" target="_blank" href="http://twitter.com/share?text=I%20just%20discovered%20this%20hidden%20gem%20%23HiddenPreprints%20&url={{this.url}}" data-toggle="tooltip" title="Tweet a link to this preprint">
      <span class="fa fa-2x fa-twitter"></span>
    </a>
  </div>

</div>
<hr />
{{/each}}

</div>

{{> navLeft}}

{{> footer}}
