{{> header}}

<div class="container-fluid" id="mainBody">

<form method="GET" action="" class="form-inline" id="mainSearchForm">
  <!-- <div class="form-group"> -->
    <!-- <label for="mainSearchInput">Search term</label> -->
    <input id="mainSearchInput" name="query" type="text" value="{{query}}" placeholder="Search" />

    <button id="mainSearchSubmit" type="submit" class="btn btn-default">
      <span class="fa fa-search"></span>
    </button>
  <!-- </div> -->

</form>

<p>
  <strong>Showing {{resultsDisplayed}} low visibility results out of {{resultsTotal}} total</strong>
    {{#if query}} for term "{{query}}"{{/if}}
    {{#if category}} in <i>{{category.name}}</i>{{else}} across categories{{/if}}.

</p>
<br />

{{#each results}}
<div class="row result-item">
  <div class="col-xs-10">
    <p class="category">{{this.category_display}}</p>

    <h3><a href="{{this.url}}" target="_blank">{{this.title}}</a></h3>

    <p>{{this.authors}}</p>

    <!-- <blockquote>{{this.abstract}}</blockquote> -->

    <p>DOI: <a href="https://doi.org/{{this.doi}}">https://doi.org/{{this.doi}}</a></p>
  </div>

  <div class="col-xs-2">
    <span class="shadowIndexIndicator label pull-right
    {{#if this.ui_class}}{{this.ui_class}}{{else}}label-default{{/if}}"
    title="Shadow Index: {{this.shadow_index}}">{{this.shadow_index}}</span>
  </div>

</div>
<hr />
{{/each}}

</div>

{{> navLeft}}

{{> footer}}
