{{> header}}

<form method="GET" action="" class="form-inline">
  <div class="form-group">
    <!-- <label for="mainSearchInput">Search term</label> -->
    <input id="mainSearchInput" name="query" type="text" value="{{query}}" placeholder="Search" />
  </div>

  <button id="mainSearchSubmit" type="submit" class="btn btn-default">
    <span class="fa fa-search"></span>
  </button>

</form>

<!--
<p>
  <strong>Found {{resultsTotal}} results
    {{#if query}} for term "{{query}}"{{/if}}
    {{#if category}} in {{category}}{{/if}}.
  </strong>
</p>
-->

{{#each results}}
<div class="result-item">
  <h3>
    <span class="badge" title="Visibility Index">VI: 0.03</span>
    <a href="{{this.url}}" target="_blank">{{this.title}}</a>
  </h3>
  <blockquote>{{this.abstract}}</blockquote>
  <p>
    <strong>Authors:</strong>
    {{this.author_vector}}
  </p>
  <p>
    <a href="/{{this.collection}}/search">
      <span class="label label-primary">{{this.collection}}</span>
    </a>
    &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp;
    Published: {{this.posted}}
    &nbsp; &nbsp; &nbsp; &nbsp;
    DOI: <a href="https://doi.org/{{this.doi}}">https://doi.org/{{this.doi}}</a>
  </p>
</div>
<hr />
{{/each}}

{{> footer}}
